[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Conecta-Seguros/api-gateway.git
	branch = develop
[submodule "clients-service"]
	path = clients-service
	url = https://github.com/Conecta-Seguros/clients-service.git
	branch = develop
[submodule "payments-service"]
	path = payments-service
	url = https://github.com/Conecta-Seguros/payments-service.git
	branch = develop
[submodule "news-service"]
	path = news-service
	url = https://github.com/Conecta-Seguros/news-service.git
	branch = develop
[submodule "products-service"]
	path = products-service
	url = https://github.com/Conecta-Seguros/products-service.git
	branch = develop
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/Conecta-Seguros/discovery-server.git
	branch = develop
