# POSTGRESQL GLOBAL ENVIRONMENT VARIABLES #

POSTGRES_PGDATA_DIR=/var/lib/postgresql/data/pgdata

# PORTGRESQL AUTHENTICATION ENVIRONMENT VARIABLES #

PORTGRES_FUSIONAUTH_URL=jdbc:postgresql://postgresql-svc.develop.svc.cluster.local:5432/fusionauth
POSTGRES_FUSIONAUTH_PORT=5432
POSTGRES_FUSIONAUTH_USER=fusionauth
POSTGRES_FUSIONAUTH_ROOT_USER=adminfusionauth
POSTGRES_FUSIONAUTH_PASSWORD=ZO9bBGZIioXkmisZ0eRe1NMMJDlgGe
POSTGRES_FUSIONAUTH_ROOT_PASSWORD=bRhCoVmTTjrPLl0x4qeD0iWQkxFaiB
POSTGRES_FUSIONAUTH_DB=fusionauth

# FUSIONAUTH APPLICATION ENVIRONMENT VARIABLES #

FUSIONAUTH_APP_MEMORY=512m
FUSIONAUTH_APP_RUNTIME_MODE=development
FUSIONAUTH_APP_URL=http://localhost:9011
FUSIONAUTH_API_KEY=didCURYQYeQXUrpRQIxc81F1NxFXtc
FUSIONAUTH_APP_LOG_LEVEL=DEBUG
FUSIONAUTH_APP_SEARCH_TYPE=database
